

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
  }
  
  
  .login-form {
    width: 300px;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 150px; 
    border-radius: 10px;
  }
  
 
  .login-header {
    color: gold;
  }
  
 
  .login-button {
    display: flex;
    justify-content: center;
  }
  
  
  .form-control {
    width: 100%; 
    background-color: black; 
    color: white; 
    border-color: gold; 
  }
  