/* Remove outline for links within buttons */
.btn-link-style:focus,
.btn-link-style:active {
  outline: none;
}

/* Style the links within buttons */
.btn-link-style {
  color: rgb(13, 202, 240);
  text-decoration: none;
}

/* Style the links within buttons when hovered */
.btn-link-style:hover {
  color: darkblue;
}

.navbar {
    margin-top: 0;
    padding-top: 0;
  }