


.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
  }
  
 
  .register-form {
    width: 300px;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
  }
  
  
  .register-header {
    color: gold;
  }
  
  
  .register-button {
    display: flex;
    justify-content: center;
  }
  
  
  .form-control {
    width: 100%;
    background-color: black;
    color: white;
    border-color: gold;
  }
  
  
  .login-link {
    text-align: center;
    color: white;
  }

  .error-box {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 14px;
   
  }
  
  